[submodule "inc/cpp-common-class"]
	path = inc/cpp-common-class
	url = https://github.com/jingwood/cpp-common-class
[submodule "inc/cpp-graphics-module"]
	path = inc/cpp-graphics-module
	url = https://github.com/jingwood/cpp-graphics-module
