# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

build/mac/*.o
build/mac/raygen
build/mac/libraygen.a

build/linux/*.o
build/linux/raygen
build/linux/libraygen.a

# Visual Studio files
.vs
Debug
Release
*.vcxproj.user
**/xcuserdata

